<!doctype html>
<html>
<head>
   <%- include("../component/meta.ejs", { data }) %>
</head>
<body>
   <%- include("../component/topnav.ejs", { data }) %>
   <%- include("../component/header.ejs", { data }) %>
   <%- include("../component/main.ejs"  , { data }) %>
   
   <%- include("../component/script.ejs") %>
</body>
</html>
